
    *{
        padding: 0;
        margin: 0;
    }
    .introDiv{
        width: inherit;
        height: 200px;
        
    }
    .intro{
        width: 500px;
        height: inherit;
        
       margin: auto;
    }
    .inner-intro{
        width: inherit;
        height: 100px;
        
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 4vw;
        font-weight: 500;
        font-family: 'Canvas', sans-serif;
        line-height: 90px;
        color: #222;
        text-align: center;
        
    }
    .firstProjectDiv{
        width: inherit;
        height: 740px;
        
        display: flex;
    }
    .myPicDiv{
        position: relative;
        width: 960px;
        height: inherit;
        
    }
    .myIntroDiv{
        position: relative;
        width: 960px;
        height: inherit;
       
    }
    .myPic{
        position: relative;
        width: 400px;
        height: 400px;
        
        margin-left: auto;
        margin-right: auto;
        margin-top: 170px;
        background-image: url('./imgfolder/Park.jpg');
        background-size: 100% 100%;
    }
    .out-box{
        width: 856.34px;
        height: 660px;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .myselfDiv{
        width: 770.7px;
        height: 50px;
        position: relative;
       
        font-size: 4vh;
        font-family: 'Canvas', sans-serif;
        font-weight: 700;
        color: #222;
    }
    .myselfBox{
        width: inherit;
        height: 180px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        
    }
    .myselfWrite{
        width: 655.09px;
        height: 30px;
        position: relative;
        margin-top: 10px;
        line-height: 30px;
        font-size: 15px;
        font-weight: 500;
        font-family: 'Iropke Batang', serif;
        color: #555;
        
    }
    .myselfWrite1{
        width: 655.09px;
        height: 60px;
        position: relative;
        
        line-height: 30px;
        font-size: 15px;
        font-weight: 500;
        font-family: 'Iropke Batang', serif;
        color: #555;
    }
    .myselfWrite2,.myselfWrite3{
        width: 655.09px;
        height: 30px;
       
        
        line-height: 30px;
        font-size: 15px;
        font-weight: 500;
        font-family: 'Iropke Batang', serif;
        color: #555;
        
    }
    .useSkill{
        width: inherit;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        font-size: 4vh;
        font-family: 'Canvas', sans-serif;
        font-weight: 700;
        color: #222;
    }
    .useTools{
        width: inherit;
        height: 372px;
        
        margin-left: auto;
        margin-right: auto;
    }
    .serverDiv,.backDiv,.databaseDiv,.frontDiv{
        width: 100%;
        height: 91px;
       
        display: flex;
    }
    .server-l,.back-l,.database-l,.front-l{
        width: 20%;
        height: inherit;
        
        line-height: 90px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Iropke Batang', serif;
        color: #555;
    }
    .server-r,.back-r,.database-r,.front-r{
        width: 80%;
        height: inherit;
        
        display: flex;
    }
    .serPic-1{
        margin-top: 4px;
        margin-left: 7px;
        width: 16%;
        height: 80px;
        background-image: url('./imgfolder/centOS.jpg');
        background-size: 100% 100%;
    }
    .serPic-2{
        margin-top: 4px;
        margin-left: 7px;
        width: 16%;
        height: 80px;
        background-image: url('../imgfolder/vmware.jpg');
        background-size: 100% 100%;
    }
    .serPic-3{
        margin-top: 4px;
        margin-left: 7px;
        width: 16%;
        height: 80px;
        background-image: url('../imgfolder/tomcat.jpg');
        background-size: 100% 100%;
    }
    .backPic-1{
        margin-top: 4px;
        margin-left: 7px;
        width: 16%;
        height: 80px;
        background-image: url('../imgfolder/java.jpg');
        background-size: 100% 100%;
    }
    .backPic-2{
        margin-top: 4px;
        margin-left: 7px;
        width: 16%;
        height: 80px;
        background-image: url('../imgfolder/spring.jpg');
        background-size: 100% 100%;
    }
    .backPic-3{
        margin-top: 4px;
        margin-left: 7px;
        width: 16%;
        height: 80px;
        background-image: url('../imgfolder/mybatis.jpg');
        background-size: 100% 100%;
    }
    .dataPic-1{
        margin-top: 4px;
        margin-left: 7px;
        width: 16%;
        height: 80px;
        background-image: url('../imgfolder/oracle.jpg');
        background-size: 100% 100%;
    }
    .frontPic-1{
        margin-top: 4px;
        margin-left: 7px;
        width: 16%;
        height: 80px;
        background-image: url('../imgfolder/html.jpg');
        background-size: 100% 100%;
    }
    .frontPic-2{
        margin-top: 4px;
        margin-left: 7px;
        width: 16%;
        height: 80px;
        background-image: url('../imgfolder/css.jpg');
        background-size: 100% 100%;
    }
    .frontPic-3{
        margin-top: 4px;
        margin-left: 7px;
        width: 16%;
        height: 80px;
        background-image: url('../imgfolder/js.jpg');
        background-size: 100% 100%;
    }
    .frontPic-4{
        margin-top: 4px;
        margin-left: 7px;
        width: 16%;
        height: 80px;
        background-image: url('../imgfolder/ajax.jpg');
        background-size: 100% 100%;
    }
    .firstProjectBox{
        width: 1903px;
        height: 740px;
       
        display: flex;
    }
    .projectPicDiv{
        position: relative;
        width: 960px;
       
        height: inherit;
        background-color: #ffffff;
    }
    .projectRight{
        position: relative;
        width: 960px;
        
        height: inherit;
        background-color: rgb(241, 222, 196);
    }
    .projectPic1{
        position: relative;
        width: 800px;
        height: 600px;
        
        margin-left: auto;
        margin-right: auto;
        margin-top: 73px;
        background-image: url('../imgfolder/koyote.jpg');
        background-size: 100% 100%;
    }
    .projectRight-outBox{
        position: relative;
        width: 600px;
        height: 600px;
        
        margin-left: auto;
        margin-right: auto;
        margin-top: 73px;
    }
    .project-write{
        margin-top: 20px;
        width: inherit;
        height: 24px;
        
        font-size: 18px;
        font-family: 'Nanum Gothic', sans-serif;
        color: #222;
        line-height: 1.2;
    }
    .project-write-1{
        margin-top: 20px;
        width: inherit;
        height: 24px;
        
        font-size: 18px;
        font-family: 'Nanum Gothic', sans-serif;
        color: #ffffff;
        line-height: 1.2;
    }
    .project-write1{
        width: inherit;
        height: 100px;
        
        font-size: 60px;
        font-family: 'Canvas', serif;
        font-weight: bold;
        color: #222;
        line-height: 1.6;
    }
    .project-write1-1{
        width: inherit;
        height: 100px;
        
        font-size: 60px;
        font-family: 'Canvas', serif;
        font-weight: bold;
        color: #ffffff;
        line-height: 1.6;
    }
    .project-write2,.project-write3{
        width: inherit;
        height: 30px;
        
        font-size: 18px;
        font-family: 'Nanum Gothic', sans-serif;
        color: #555;
        line-height: 1.5;
    }
    .project-write2-1{
        width: inherit;
        height: 30px;
        
        font-size: 18px;
        font-family: 'Nanum Gothic', sans-serif;
        color: #ffffff;
        line-height: 1.5;
    }
    .project-write4Box{
        width: inherit;
        height: 134px;
       
    }
    .project-write4{
        width: 440px;
        height: 100px;
        margin-top: 30px;
       
        line-height: 1.5;
        font-size: 16px;
        color: #222;
         font-family: 'Courier New', Courier, monospace;
         font-weight: 600;
         opacity: 1;
    }
    .project-write4-1{
        width: 440px;
        height: 100px;
        margin-top: 30px;
       
        line-height: 1.5;
        font-size: 16px;
        color: #ffffff;
         font-family: 'Courier New', Courier, monospace;
         font-weight: 600;
         opacity: 1;
    }
    .firstBtn,.secondBtn{
        width: inherit;
        height: 124px;
        
    }
    .thirdBtn{
        width: inherit;
        height: 124px;
    }
    #btnone{
        width: 200px;
        height: 50px;
        border: 1px solid #222;
        border-radius: 30px;
        margin-top: 36px;
        background-color:rgb(241, 222, 196);
        cursor: pointer;
    }
    #btntwo{
        width: 200px;
        height: 50px;
        border: 1px solid #222;
        border-radius: 30px;
        
        background-color:rgb(241, 222, 196);
        cursor: pointer;
        
    }
    #btnthree{
        width: 200px;
        height: 50px;
        border: 1px solid #ffffff;
        border-radius: 30px;
        color: #ffffff;
        background-color:rgb(177, 123, 106);
        cursor: pointer;
    }
    .secondProjectBox{
        width: 1903px;
        height: 740px;
       
        display: flex;
    }
    .project2PicDiv{
        position: relative;
        width: 960px;
       
        height: inherit;
        
        background-color:rgb(241, 222, 196);
    }
    .project2Right{
        position: relative;
        width: 960px;
        
        height: inherit;
        background-color: rgb(177, 123, 106);
    }
    .projectPic2{
        position: relative;
        width: 800px;
        height: 600px;
        
        margin-left: auto;
        margin-right: auto;
        margin-top: 73px;
        background-image: url('koyote.jpg');
        background-size: 100% 100%;
    }
